#Site {
    width: 100%;
    height: auto;
    /* position: relative; */
    /* background: #f8f8f8; */
    background: #fff;
    height: auto;
    /* min-height: 100dvh; */
}

body,
html {
    width: 100dvw;
    height: auto;
    min-height: 100dvh;
    overflow-x: hidden;
}

#Site header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111111;
    /* margin-bottom: 100px; */
    }

    /*==========slider================*/
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        /* background: #00ff73; */

        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-pagination {
        bottom: 50px !important;
        transform: scale(1.5) !important;
    }

    .swiper-pagination-bullet,
    .swiper-pagination-bullet-active,
    .swiper-pagination-bullet-active-main {
        background: orangered !important;
    }
/*===============hero===================*/
section {
    width: 90vw;
    overflow-x: hidden;
    height: auto;
    padding: 5vh 5vw;
    margin: 5vh 5vw;
    box-shadow: 0 0 50px 1px #00000034;
    position: relative;
}

.swiper-slide {
    background: #F5f5f5 !important;
}
#hero {
    /* border: 5px solid red; */
    width: 100%;
    margin: auto;
    background: url("../../public//imgs/home1-rev-2.jpg");
    height: auto;
    min-height: 85dvh;
    background-size: cover;
    background-position: 0 -100px;
    background-repeat: no-repeat;
    /* background-size: 100%; */
    display: flex;
    align-items: center;
    position: static;
    margin-top: 0 !important;
    margin-top: -25px !important;
    /* margin: 75px 10vw; */
}

    #hero>* {
        /* width: 100% !important; */
}
.hero-cont {
    display: flex;
    /* margin:0 5vw; */
}
.hero-data {
    display: flex;
    align-items: flex-start;
    color: #fff;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    gap: 25px;
    margin-top: -12.5vh;
}
#homesec {
    position: relative;
}

#soc>*>* {
    font-size: 2.5rem;
    color: #fff;
}

#ver-in>* {
    color: #fff;
    cursor: pointer;
    font-family: var(--font4) !important;
}

#ver-in {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    margin-right: 50px;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    gap: 35px;
    justify-content: center;
    height: 100%;
    font-size: 1.7rem;
    /* width: 100%; */
    z-index: 22;
}

#soc {
    gap: 30px;
    position: absolute;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    z-index: 22;
    height: 100%;
    justify-content: center;

}

.hero-data h1 {
    font-size: 3.4rem;
    font-family: var(--font6);
    text-transform: capitalize;
    line-height: 70px;
    font-weight: 600;
    text-align: left;
}

.hero-data h3 {
    text-align: left;
    font-size: 1.25rem;
    font-weight: 300;
    font-family: var(--font6);
}
.pop-2 {
    flex-direction: row-reverse;
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 10vh !important;
}
#pop-ser {
    /* position:relative; */
    display: flex;
    /* display: none; */
    /* background: gold; */
    width: 100%;
    left: 0;
    bottom: -75px;
    margin-top: 10vh;
    align-items: flex-start;
    justify-content: center;
    z-index: 11;
}

.ps {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 35%;
    /* flex: 1 !important; */
    height: 100% !important;
    /* border: 5px solid red; */
    padding: 35px 22px;
    gap: 25px;
    min-height: 220px;
    box-shadow: 0 0 50px 0px #00000023;
}
.ps:last-child {
    background: var(--blue);
    color: #fff;
    position: relative;
    overflow: hidden;
    /* display: inline-block; */
}

.ps-l>* {
    color: var(--org);
    z-index: 1;
    font-size: 2.5rem !important;
    position: relative;
    display: inline-block;
}
.ps-l {
    display: flex;
    align-items: center;
    gap: 35px;
    flex: 1 !important;
}

.pop-3 {
    margin-top: 35px !important;
    width: 100% !important;
}
.pop-3 .ps {
    width: 100% !important;
    min-height: fit-content !important;
}
.ps-l::before {
    content: '';
    height: 37px;
    width: 37px;
    /* top: 0;
    left: 0; */
    margin: 10px 0 0 10px;
    z-index: 0;
    border-radius: 50%;
    background: rgba(255, 132, 0, 0.158);
    position: absolute;
    display: block;
}

.st {
    font-size: 1.5rem;
    font-weight: 600;
    bottom: 0 !important;
    font-family: var(--font3);
    color: #292929;
}

.s-txt {
    font-size: 0.8rem;
}

.rm {
    font-size: 1rem;
    font-family: var(--font6);
    width: fit-content;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    /* padding: 0 5px; */
}

.ps-r {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
}

.dis {
    position: absolute;
    right: 0px;
    bottom: -7px;
}

.dis img {
    height: 80px;
}

/*===================ship================*/
#sec-head {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5vh;
    padding: 25px;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

#sec-head .t-title {
    font-size: 3.5rem;
    font-family: var(--font6);
    font-weight: 600;
}

#sec-head p {
    font-family: var(--font6);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0 7vw;
    text-align: center;
}
#lime {
    color: rgb(71, 230, 71) !important;
}

#ship #sec-head {
    margin-top: 5vh;
    }

    .bkl .client-slider {
        margin-top: 5vh;
    }

    .bkl {
        padding: 5vh 10vw;
        margin-top: -2.5vh !important;
        padding-top: 0 !important;
    }
#ship {
    background: #fff;
    /* background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
    url('https://static.vecteezy.com/system/resources/previews/021/232/067/non_2x/hand-drawn-india-doodles-clip-art-cartoon-elements-isolated-on-white-background-print-coloring-book-scrapbooking-stationary-stickers-sublimation-design-eps-10-vector.jpg');
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    url('../../public/imgs/ex.png');
    */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    padding-top: 0;
    padding-bottom: 5vh !important;
    }

    #cal .t-title {
        font-weight: 600;
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.726) !important;
        color: var(--blue) !important;
    }

    #cal {
        width: 100dvw !important;
        margin: 0 !important;
        padding: 0 !important;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
            url('../../public/imgs/pop.jpg');
    }

    #lnl {
        width: 100dvw !important;
        padding: 0 !important;
        margin: 0 !important;
        background-attachment: fixed !important;
        background: url('../../public/imgs/pop.jpg');
    }

#steps {

    display: flex;
    width: 100%;
    /* background: rgb(134, 250, 114); */
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 7vh 0;
    flex-wrap: wrap;
    gap: 25px 0;
}

#steps .s-cd {
    /* border: 1px solid #4d4d4d; */
    /* padding: 35px; */
    background: #fff;
    padding: 25px 12px;
    border-radius: 7px;
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.311);
    min-width:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 350px;
    /* border: 5px solid red; */
    width: 250px;
    /* gap: 15.5px; */
    }

    .s-cd img {
        width: 100%;
}

#steps .st {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0 15px;
    text-align: center;
}
.num img {
    margin-top: -50px;
    margin-right: -50px;
}
#steps .num {
    font-size: 1.25rem;
    height: 45px;
    width: 45px;
    z-index: 111;
    display: grid;
    margin-top: -50px;
    place-items: center;
    position: absolute;
    /* padding: 35px; */
    background: white;
    border-radius: 50%;
    margin-bottom: 15px;
    color: white;
    top: 30px;
    box-shadow: 0 0 35px 0 #0000001b;
    /* position: relative; */
    transition: all ease-in-out 0.35s;
}

#steps .s-cd:hover .num {
    color: white;
    background: var(--blue);

}
.pin {
    position: absolute;
    top: -30px;
    margin-left: 5px;
    /* right: -15px; */

}



.pin img {
    width: 50px;
}

#steps .s-cd:hover .num::after {
    content: '';
    height: 45px;
    border: 15px solid rgba(18, 18, 18, 0.129);
    width: 45px;
    position: absolute;
    z-index: -1;
    /* background: pink; */
    border-radius: 50%;
    /* display: block; */
}
#steps .s-cd .num::after {
    content: '';
    height: 45px;
    border: 15px solid rgba(250, 4, 4, 0.129);
    width: 45px;
    position: absolute;
    z-index: -1;
    /* background: pink; */
    border-radius: 50%;
    /* display: block; */
}

#steps .txt {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
}
#steps #rm {
    font-weight: 600;
}

/*===================blur - features ==========================*/
#bl-feature {
    background: url("../../public//imgs/services-bg-1.jpg");
    /* background: url("../../public//imgs/home1-rev-3.jpg"); */
    /* background: url("../../public//imgs/home1-section-4.jpg"); */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff !important;
    display: flex;
    width: 100%;
    padding: 0;
    /* overflow-y: hidden; */
    height: 90vh !important;
}

.ftr-cd {
    height: 100% !important;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: flex-start;
    border: 0.1px solid #ffffff2e;
    padding: 0px 35px;
    padding: 25px;
    width: 25%;
    gap: 15px;
    position: relative;
    /* transition: ; */
}

.ftr-cd:hover {
    backdrop-filter: blur(35px);
}

.ftr-cd #org {
    position: absolute;
    bottom: 40vh;
    font-size: 2.5rem;
    margin-top: 60vh;
    transition: all 0.25s ease-in-out;
}

.ftr-cd .t-title {
    font-size: 1.8rem;
    position: absolute;
    color: white;
    text-align: left;
    bottom: 25vh;
    transition: all 0.25s ease-in-out;
}

.ftr-cd p {
    position: absolute;
    visibility: hidden;
    bottom: 0;
    opacity: 0;
    transition: all 0.35s ease-in-out;
}

.ftr-cd:hover #org {
    bottom: 60vh;
}

.ftr-cd:hover .t-title {
    bottom: 45vh;
}

.ftr-cd:hover p {
    bottom: 25vh;
    visibility: visible;
    opacity: 1;
}

.arw {
    position: absolute;
    bottom: 5vh;
    height: 50px;
    width: 50px;
    background: #ffffff22;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
}

/*==================service======================*/
.ser-sec-2 {
    background: #eee;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.60), rgba(255, 255, 255, 0.60)),
    /* url('https://img.freepik.com/premium-vector/indian-people-group-traditional-clothes_48369-10176.jpg') !important; */
    url('../../public/imgs/in-bz.jpg') !important;
    /* background-position: 0 560px !important; */
    background-position: 0 100% !important;
    background-repeat: repeat-x !important;
    background-size: 260px !important;
    }

    .ser-sec-1 {
        background: #eee;
        background: url('https://media.istockphoto.com/id/1281211874/vector/indian-famous-monuments.jpg?s=170667a&w=0&k=20&c=AhJ6iQ7VJiuKXbCnuOP2TxMLgS-BL2fVFH16SVNI4Lc=');
        /* background-position: 0 430px !important; */
        background-position: 0 135%;
        background-repeat: repeat-x;

        /* background-repeat: repeat-x !important; */
    /* background: url("../../public/imgs/ser-bg.jpg");
    background-position: top right;
    background-size: cover;
    */
    }

    .sc span .t-title {
        font-size: 2rem;
    }

    .sc span {
        gap: 35px;
        display: flex;
        align-items: center;

    }

    #feed {
         /* background: linear-gradient(90deg, rgb(255, 210, 170) 0%, rgba(255, 255, 255, 1) 50%, rgb(158, 255, 157) 100%) !important; */
        padding-top: 0 !important;
    }

    #service {
        padding-bottom: 0 !important;
}

#service .ser-head {
    display: flex;
    position: relative;
    z-index: 11 !important;
    /* align-items: center; */
    justify-content: space-between;

}

#service .ser-head h1 {
    font-size: 3rem;
    font-family: var(--font6);
    font-weight: 600;
}

#service .ser-head p {
    font-size: 1.3rem;
    font-family: var(--font6);
    font-weight: 400;
    width: 80%;
}

.sh1 {
    flex: 1;
}


.sh2 .btn {
    min-width: 150px;
    width: fit-content;
    padding: 17px 50px;
    font-size: 1.2rem;
}

.ser-cards {
    display: flex;
    align-items: center;
    gap: 0px;
    margin: 10vh 0;
    margin-top: 12vh;
    flex-wrap: wrap;
    justify-content: space-between;


    }

.ser-cards>* {
    /* min-width: 300px; */
    width: 47%;

}

.ser-cards .sc {
    box-shadow: 0 0 25px 0 #00000021;
    background: white;
    display: flex;
    padding: 38px 25px;
    margin-top: -5vh;
    border-bottom: 5px solid var(--org);
    gap: 9px !important;
    flex-direction: column;
    margin-bottom: 10vh;
    min-width: 350px;

}
.wt {
    color: white !important;
}
.sc #org>* {
    font-size: 3.8rem;
}

.sc .t-title {
    font-weight: 600;
    text-align: left;
    font-size: 1.4rem;
}

.sc p {
    font-weight: 400;
    font-family: var(--font6);
    font-size: 1.1rem;
}

.sc ul {
    margin-top: 7.5px;
    list-style: disc var(--org);
    /* padding-left: 20px; */
    list-style: none;
}

.sc ul li {
    display: flex;
    align-items: center;
}



.sc ul li::before {
    content: '';
    height: 7px;
    width: 7px;
    background-color: var(--org);
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
/*==================calcu===========*/
#asA {
    padding: 50px 0px;
    /* background-color: rgb(239, 239, 239); */
}

#asA .t-title {
    text-align: center;
    font-size: 3rem;
    font-family: var(--font6);
    font-weight: 600;
    margin-bottom: 15px;
}

.cal-box .sh-top {
    display: flex;
    gap: 25px;
    justify-content: space-evenly;
    /* background-color: rgb(147, 255, 147); */
}

.cal-box {
    /* background: lime; */
    padding: 45px;
}

.err-feild {
    display: none !important;
}

.sh-l h1 {
    /* margin-bottom: -50px; */
}

.sh-l {
    display: flex;
    flex-direction: column-reverse;
    /* align-items: center; */
    justify-content: space-between;
}

.dim {
    display: flex;
    align-items: flex-start;

}

.sh-l .MuiFormControl-root {
    width: 100% !important;
    margin: 7px 0 !important;
}

.sh-r .MuiFormControl-root {
    min-width: 20% !important;
}

.sh-r strong {
    font-size: 2.2rem;
    font-family: var(--font6);
    font-weight: 500;
}

.demo-box {
    display: flex;

}

.demo-box div {
    margin-top: 15px;
    border-radius: 5px;
    padding: 25px 0;
    background: rgb(241, 241, 241);
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px 10px;
}

.demo-box .olay:hover {
    border: 2px solid #181818;
    box-shadow: 0 0 30px 2px #00000048;
}

.demo-box .olay {
    transition: 0.15s ease-in-out;
    border-radius: 2px solid white;
    display: flex;
    height: 150px;
    width: 300px;
    overflow: hidden;
    background: rgb(255, 255, 255);
    border-radius: 9px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px 0 #00000021;
}

.demo-box .olay img {
    width: 170px;
}

.sh-m img {
    margin-top: 30px;
    width: 450px;
}

.sh-l .btn {
    text-align: center;
}
#vidd {
    background: url('https://img.freepik.com/free-vector/indian-tricolor-theme-watercolor-texture-patriotic-background-vector_1055-11952.jpg?w=900&t=st=1695532205~exp=1695532805~hmac=edb355164af7de1a8fec179300d078566b1954c7fa3f246fc574b361070a506d');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
#comp {
    background: url('https://img.freepik.com/free-vector/decorative-indian-flag-theme-republic-day-texture-design-background_1055-16781.jpg?w=900&t=st=1695558749~exp=1695559349~hmac=b5c81cfa33c60411de60f72dfa5749f75fc328f4ce2bebd1e3aebb9aba74777d');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:50px 35px;
    justify-content: space-evenly;
}
#comp a {
    /* width: 50%; */
    /* min-width: 140px; */
    text-decoration: none;
    width: 330px;
    display: grid;
    place-items: center;
    background: #fff;
    border: 1.5px solid rgba(160, 160, 160, 0.473);
    box-shadow: -5px 0 35px 0px #0000004c;
    height: 120px;
}

#comp img {
    /* padding: 30px 50px; */
    width: 70%;
    border-radius: 3px;
    /* filter: grayscale(100); */
    transition: 0.15s ease-in-out;
}
.parallax-effect-glare-scale {
    transform-style: preserve-3d;
    width: 410px;
    min-width: 260px;
    /* width: 30%;
	 */
    /* text-align: justify;
	 */
    border-radius: 9px;
    line-height: 25px;
    /* background-color: #272731;
	 */
    transition: 0.35s ease-in-out;
}

.parallax-effect-glare-scale .inner-element {
    transform: translateZ(45px);
}

#offer {}

.t-title {
    color: var(--blue);
    font-size: 2.5rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: var(--font6);
}

#of-g img {
    margin-top: 10vh;
    width: 30%;
    min-width: 300px;

}

#of-g {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#feed {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background: #f3f3f3;
    background-size: 50% !important;


    background: linear-gradient(to left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
    url('https://static.vecteezy.com/system/resources/thumbnails/013/867/897/small/online-education-training-with-students-and-tutor-free-vector.jpg');
}
#feed-r {
    width: 100%;

    /* justify-content: ; */
}
#feed-r .swiper {
    background-color: transparent !important;
}

.fd-cd {

    box-shadow: 0 0 25px 0px rgba(128, 128, 128, 0.591) !important;
}

#feed-r .swiper-wrapper>* {
    background-color: transparent !important;
    /* width: fit-content !important; */
    margin: 25px 0;
    /* width: 30%; */
    display: grid;
    place-items: center;
    /* margin: 0px; */

}
#feed-r .swiper-slide #feed-r .swiper-slide-next {
    background-color: transparent !important;
    width: 250px !important;
    /* height: fit-content !important; */
}

#feed-r .swiper-wrapper {
    background-color: transparent !important;
    display: flex;
    /* overflow-x: scroll; */
    align-items: center;
    /* gap: 25px; */

}

#feed-l p {
    font-size: 1rem;
    font-family: var(--font4);
    font-weight: 300;
}

#feed-l {
    gap: 25px;
    width: 100%;
    margin-top: 10vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.fd-title {
    font-weight: 600;
    /* background: pink; */
    color: var(--blue);
    width: 100%;
    margin-bottom: 35px;
    margin-top: -5vh !important;
    font-size: 3.1rem;
    font-family: var(--font3) !important;
}

.msg-title {
    color: var(--blue);
        padding: 5px 22px;
    font-size: 1.5rem;
}

.msg-desc {
        padding: 5px 22px;
    color: #6c6c6c;
    font-family: var(--font4);
}

.fd-cd {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 330px !important;
    background: #fff;
flex-direction: column-reverse;
    border-radius: 7px;
    /* margin: 25px 0; */
    border-bottom: 5px solid var(--org);
}

.msg-bot {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-direction: column;
}

.msg-bot .zomm-dp {
    width: 100%;
    height: 300px;

    overflow: hidden;
    /* border-radius: 50%; */
    }

    .feed-info {
        display: flex;
        /* padding: 0 22px; */
        align-items: center;
        width: 100%;
        justify-content: space-between;
        flex-direction: row !important;
    }

    .feed-info #blue {
        margin: auto;
        width: 100% !important;
        font-size: 1rem !important;
        color: #fff !important;
    font-weight: 500;
}

 .feed-info #org {
    font-size: 0.8rem !important;
    font-weight: 600;
    display: none !important;
}
#cal {
    display: flex;
    flex-direction: column;
    width: 90vw;
    padding: 35px 10vw !important;
    gap: 25px;
}

#cal .cal-head {
    /* width: 0vw; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}