#Site {
    width: 100%;
    height: auto;
    /* position: relative; */
    /* background: #f8f8f8; */
    background: #fff;
    height: auto;
    /* min-height: 100dvh; */
}

body,
html {
    width: 100dvw;
    height: auto;
    min-height: 100dvh;
    overflow-x: hidden;
}

#Site header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1111;
    /* margin-bottom: 100px; */
    }

    /*==========slider================*/
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-pagination {
        bottom: 150px !important;
        transform: scale(1.5) !important;
    }

    .swiper-pagination-bullet,
    .swiper-pagination-bullet-active,
    .swiper-pagination-bullet-active-main {
        background: orangered !important;
    }
/*===============hero===================*/
section {
    width: 100%;
    overflow-x: hidden;
    height: auto;
    padding: 10vh 10vw;
    position: relative;
}

#hero {
    background: url("../../public//imgs/home1-rev-2.jpg");
    height: auto;
    min-height: 105dvh;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    position: static;
    margin-top: 75px;
}
.hero-cont {
    display: flex;
}
.hero-data {
    display: flex;
    align-items: flex-start;
    color: #fff;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    gap: 25px;
    margin-top: -12.5vh;
}

.hero-data h1 {
    font-size: 3.4rem;
    font-family: var(--font6);
    text-transform: capitalize;
    line-height: 70px;
    font-weight: 600;
    text-align: left;
}

.hero-data h3 {
    text-align: left;
    font-size: 1.25rem;
    font-weight: 300;
    font-family: var(--font6);
}

#pop-ser {
    position:relative;
    display: flex;
    /* display: none; */
    /* background: gold; */
    width: 100%;
    left: 0;
    bottom: 60px;
    align-items: flex-start;
    justify-content: center;
    z-index: 11;
}

.ps {
    background: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 30%;
    /* border: 5px solid red; */
    padding: 35px 22px;
    gap: 25px;
    box-shadow: 0 0 50px 0px #00000023;
}

.ps:last-child {
    background: var(--blue);
    color: #fff;
    position: relative;
    overflow: hidden;
    /* display: inline-block; */
}

.ps-l>* {
    color: var(--org);
    z-index: 1;
    font-size: 2.5rem !important;
    position: relative;
    display: inline-block;
}

.ps-l::before {
    content: '';
    height: 37px;
    width: 37px;
    /* top: 0;
    left: 0; */
    margin: 10px 0 0 10px;
    z-index: 0;
    border-radius: 50%;
    background: rgba(255, 132, 0, 0.158);
    position: absolute;
    display: block;
}

.st {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--font3);
}

.s-txt {
    font-size: 0.8rem;
}

.rm {
    font-size: 0.75rem;
    font-family: var(--font6);
    width: fit-content;
    text-transform: uppercase;
    font-weight: 500;
    /* padding: 0 5px; */
}

.ps-r {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
}

.dis {
    position: absolute;
    right: 0px;
    bottom: -7px;
}

.dis img {
    height: 80px;
}

/*===================ship================*/
#sec-head {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

#sec-head .t-title {
    font-size: 3.5rem;
    font-family: var(--font6);
    font-weight: 600;
}

#sec-head p {
    font-family: var(--font6);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0 7vw;
    text-align: center;
}

#ship #sec-head {
    /* margin-top: 7vh; */
}

#ship {
    background: #fff;
    padding-top: 0;
}

#steps {

    display: flex;
    width: 100%;
    /* background: rgb(134, 250, 114); */
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 7vh 0;
}

#steps .s-cd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 5px solid red; */
    width: 250px;
    gap: 15.5px;
}

#steps .st {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0 15px;
    text-align: center;
}

#steps .num {
    font-size: 1.25rem;
    height: 75px;
    width: 75px;
    z-index: 111;
    display: grid;
    place-items: center;
    /* padding: 35px; */
    background: #fff;
    border-radius: 50%;
    margin-bottom: 15px;
    color: var(--org);
    box-shadow: 0 0 35px 0 #0000001b;
    position: relative;
    transition: all ease-in-out 0.35s;
}

#steps .s-cd:hover .num {
    color: white;
    background: var(--blue);

}

#steps .s-cd:hover .num::after {
    content: '';
    height: 75px;
    border: 15px solid rgba(18, 18, 18, 0.129);
    width: 75px;
    position: absolute;
    z-index: -1;
    /* background: pink; */
    border-radius: 50%;
    /* display: block; */
}

#steps .txt {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
}

#steps .s-cd:nth-child(even) {
    margin-top: 50px;
}


#steps #rm {
    font-weight: 600;
}

/*===================blur - features ==========================*/
#bl-feature {
    background: url("../../public//imgs/services-bg-1.jpg");
    /* background: url("../../public//imgs/home1-rev-3.jpg"); */
    /* background: url("../../public//imgs/home1-section-4.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff !important;
    display: flex;
    width: 100%;
    padding: 0;
    /* overflow-y: hidden; */
    height: 90vh !important;
}

.ftr-cd {
    height: 100% !important;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: flex-start;
    border: 0.1px solid #ffffff2e;
    padding: 0px 35px;
    padding: 25px;
    width: 25%;
    gap: 15px;
    position: relative;
    /* transition: ; */
}

.ftr-cd:hover {
    backdrop-filter: blur(35px);
}

.ftr-cd #org {
    position: absolute;
    bottom: 40vh;
    font-size: 2.5rem;
    margin-top: 60vh;
    transition: all 0.25s ease-in-out;
}

.ftr-cd .t-title {
    font-size: 2.1rem;
    position: absolute;
    color: white;
    text-align: left;
    bottom: 25vh;
    transition: all 0.25s ease-in-out;
}

.ftr-cd p {
    position: absolute;
    visibility: hidden;
    bottom: 0;
    opacity: 0;
    transition: all 0.35s ease-in-out;
}

.ftr-cd:hover #org {
    bottom: 60vh;
}

.ftr-cd:hover .t-title {
    bottom: 45vh;
}

.ftr-cd:hover p {
    bottom: 30vh;
    visibility: visible;
    opacity: 1;
}

.arw {
    position: absolute;
    bottom: 5vh;
    height: 50px;
    width: 50px;
    background: #ffffff22;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
}

/*==================service======================*/
#service {
    background: url("../../public/imgs/ser-bg.jpg");
    background-position: top right;
    background-size: cover;
}

#service .ser-head {
    display: flex;
    position: relative;
    z-index: 11 !important;
    /* align-items: center; */
    justify-content: space-between;

}

#service .ser-head h1 {
    font-size: 3rem;
    font-family: var(--font6);
    font-weight: 600;
}

#service .ser-head p {
    font-size: 1.3rem;
    font-family: var(--font6);
    font-weight: 400;
    width: 80%;
}

.sh1 {
    flex: 1;
}


.sh2 .btn {
    min-width: 150px;
    width: fit-content;
    padding: 17px 50px;
    font-size: 1.2rem;
}

.ser-cards {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 10vh 0;
    margin-top: 12vh;
    justify-content: space-between;


}

.ser-cards .sc {
    width: 100%;
    box-shadow: 0 0 25px 0 #00000021;
    background: white;
    display: flex;
    padding: 50px 30px;
    border-bottom: 5px solid var(--org);
    gap: 20px;
    flex-direction: column;

}

.sc #org>* {
    font-size: 3.8rem;
}

.sc .t-title {
    font-weight: 600;
    text-align: left;
    font-size: 1.6rem;
}

.sc p {
    font-weight: 400;
    font-family: var(--font6);
    font-size: 1.1rem;
}

.sc ul {
    margin-top: 7.5px;
    list-style: disc var(--org);
    /* padding-left: 20px; */
    list-style: none;
}

.sc ul li {
    display: flex;
    align-items: center;
}



.sc ul li::before {
    content: '';
    height: 7px;
    width: 7px;
    background-color: var(--org);
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
/*==================calcu===========*/
#asA {
    padding: 50px 0px;
    /* background-color: rgb(239, 239, 239); */
}

#asA .t-title {
    text-align: center;
    font-size: 3rem;
    font-family: var(--font6);
    font-weight: 600;
    margin-bottom: 15px;
}

.cal-box .sh-top {
    display: flex;
    gap: 25px;
    justify-content: space-evenly;
    /* background-color: rgb(147, 255, 147); */
}

.cal-box {
    /* background: lime; */
    padding: 45px;
}

.err-feild {
    display: none !important;
}

.sh-l h1 {
    /* margin-bottom: -50px; */
}

.sh-l {
    display: flex;
    flex-direction: column-reverse;
    /* align-items: center; */
    justify-content: space-between;
}

.dim {
    display: flex;
    align-items: flex-start;

}

.sh-l .MuiFormControl-root {
    width: 100% !important;
    margin: 7px 0 !important;
}

.sh-r .MuiFormControl-root {
    min-width: 20% !important;
}

.sh-r strong {
    font-size: 2.2rem;
    font-family: var(--font6);
    font-weight: 500;
}

.demo-box {
    display: flex;

}

.demo-box div {
    margin-top: 15px;
    border-radius: 5px;
    padding: 25px 0;
    background: rgb(241, 241, 241);
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px 10px;
}

.demo-box .olay:hover {
    border: 2px solid #181818;
    box-shadow: 0 0 30px 2px #00000048;
}

.demo-box .olay {
    transition: 0.15s ease-in-out;
    border-radius: 2px solid white;
    display: flex;
    height: 150px;
    width: 300px;
    overflow: hidden;
    background: rgb(255, 255, 255);
    border-radius: 9px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px 0 #00000021;
}

.demo-box .olay img {
    width: 170px;
}

.sh-m img {
    margin-top: 30px;
    width: 450px;
}

.sh-l .btn {
    text-align: center;
}

#comp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#comp>* {
    width: 18%;
    filter: grayscale(100);
    transition: 0.15s ease-in-out;
}

#comp>*:hover {
    filter: grayscale(0);
}

.parallax-effect-glare-scale {
    transform-style: preserve-3d;
    width: 410px;
    min-width: 260px;
    /* width: 30%;
	 */
    /* text-align: justify;
	 */
    border-radius: 9px;
    line-height: 25px;
    /* background-color: #272731;
	 */
    transition: 0.35s ease-in-out;
}

.parallax-effect-glare-scale .inner-element {
    transform: translateZ(45px);
}

#offer {}

.t-title {
    color: var(--blue);
    font-size: 2.5rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: var(--font6);
}

#of-g img {
    margin-top: 10vh;
    width: 30%;
}

#of-g {
    display: flex;
    align-items: center;
    justify-content: space-between;
}