#Site nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10vw;
   background:#003a49;
   box-shadow: 0 0 50px 1px #06060624;
}

#logo {
    font-weight: 600;
    font-family: var(--font7);
    text-transform: uppercase;
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#blue {
    color: var(--blue);
}

#org {
    color: var(--org);
}
#wt {
    color: #fff;
}
nav #links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
nav .btn-o:hover {
    background-color: rgb(218, 98, 12);
}
#links a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    transition: all ease-in-out 0.25s;
}

#links a:hover {
    color: var(--org);
}

.btn {
    font-size: 0.85rem;
    font-weight: 600;
    font-family: var(--font6);
    padding: 12.5px 38px;
    /* background: red; */
    transition: all ease-in-out 0.25s;
    cursor: pointer;
}

.btn-b {
    color: #fff;
    background: var(--blue);
}

.btn-o {
    color: #fff;
    background: var(--org);
}

.btn-b:hover {
    background: var(--org);
}

.btn-o:hover {
    background: var(--blue);
}
.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-right img {
    height: 40px;
}

#calc-icon {
    color: #181818;
    font-size: 2.2rem !important;
}

.lg {
    align-items: center;
    gap: 7px;
    display: flex;
    font-size: 2rem !important;
    font-weight: 400;
    font-family: var(--font3) !important;
}

.lg {}
#side-nav {
    background: #003a49;
    backdrop-filter: blur(5px);
    height: 100dvh;
    position: absolute;
    z-index: 111111;
    right: -300px;
    padding: 5vh 35px;
    transition: 0.5s ease-in-out;
}

#side-nav #links {
    display: flex !important;
    flex-direction: column;
    gap: 12.5px;
    align-items: center;
    margin-bottom: 25px;
}

#side-nav #links a {

    color: #fff;
}

.cl>*>* {
    color: #fff;
    font-size: 2rem;
}

.cl {
    position: relative;
    top: -15px;
    left: -15px;
}