.btn{
    cursor: pointer;
    background: #000;
    color: #fff;
    width: 100%;
    border-radius: 8px;
}

.right {
    position: absolute;
    background: gray;
    right: 80px;
    flex-shrink: 0 !important;
    min-width: 60%;
    flex-shrink: 0 !important;
    border-radius: 1.2rem;
    /* min-height: 5vh; */
    height: 90% !important;
    overflow: hidden;
    /* overflow: scroll; */
    place-items: center;
}

.right img{
    height: 100%;
}