/* .data,
.data * {
  border: 3px solid crimson;
} */
#SpSignIn {
  height: auto;
  width: 100vw;
  padding: 10vh 10vw;
  display: flex;
  min-height: 100dvh;
  align-items: center;
  margin: 0 !important;
  /* overflow: hidden; */
  /* justify-content: space-between; */
}

#SpSignIn .left {
  width: 60%;
  overflow: hidden;
  display: grid;
  /* padding-top: 5vh; */
  height: 100%;
  place-items: center;
  background-color: var(--sup-lft);
}

.spUp .left img {
  width: 100% !important;
}
#SpSignIn .left img {
  width: 80%;
}



#SpSignIn .right form {
  height: fit-content;
  max-height: 70vh;
  padding-right: 15px;
  overflow-y: scroll;
}

#SpSignIn .right {
  flex-shrink: 0 !important;
  width: 40%;
  display: grid;
  height: 100%;
  /* overflow: scroll; */
  place-items: center;
}

#SpSignIn .right .data {
  display: flex;
  width: 84%;
  min-width: 400px;
  flex-direction: column;
  gap: 13px;
  color: var(--color2d) !important;
}

#SpSignIn header {
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  gap: 15px;
  /* margin-bottom: 25px; */
}

#SpSignIn #logo {
  font-size: 3rem !important;
}

#SpSignIn h1 {
  font-size: 2.5rem;
}

#SpSignIn h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

#SpSignIn h3 {
  font-size: 0.9rem;
  margin-bottom: 7px;
}

#SpSignIn input,
.otp input {
  font-size: 1.05rem;
  background-color: #eee;
  padding: 13px 25px;
  width: 100%;
  border: 1.05px solid rgba(245, 245, 245, 0.4);
  outline: none;
  border-radius: 3px;
  margin-bottom: 13px;
  color: var(--color2d);
}

#SpSignIn .right .data input::placeholder,
.otp input::placeholder {
  color: var(--color2d);
}

#SpSignIn .right .data form .btn {
  width: 100%;
  border-radius: 3px;
}

#SpSignIn .right .data .b-box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

#SpSignIn .right .data .b-box>* {
  flex: 0.5;
  font-size: 0.9rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

#SpSignIn .right .data .b-box .btn:nth-child(1) {
  /* background-color: #3b5998; */
  background-color: #4267b2;
  color: var(--color2d);
}

#SpSignIn .right .data .b-box .btn:nth-child(2) {
  /* background-color: #3b5998; */
  background-color: #00b9ff;
  color: var(--color2d);
}

#SpSignIn .right .data p {
  margin-top: 15px;
  display: flex;
  gap: 5px;
}

#SpSignIn .right .data .gray {
  color: var(--gray);
  /* width: 60% !important; */
  flex: 1 !important;
}

@media (max-width: 1100px) {
  #SpSignIn .left {
    width: 50%;
  }

  #SpSignIn .right {
    width: 50%;
  }
}

@media (max-width: 850px) {
  #SpSignIn .left {
    display: none;
  }

  #SpSignIn .right {
    width: 100%;
  }
}

@media (max-width: 650px) {
  #SpSignIn .b-box {
    flex-direction: column;
  }

  #SpSignIn .data {
    width: 80% !important;
    min-width: 300px !important;
  }

  #SpSignIn .b-box>* {
    width: 100%;
  }
}

#SpSignIn a {
  text-decoration: underline;
}

#test-btn {
  margin: 0;
}
